<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>


    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel="stylesheet" media="screen" type="text/css" href="stylesheets/colorpicker.css" />
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link href="favicon.ico" type="image/x-icon" rel="shortcut icon">


</head>
<body onselectstart="return false">
<div id="container" >
    <div id="drawCanvas">
        <canvas id="graph" width="500" height="500">
            您的浏览器不支持,请使用chrome、firefox浏览器
        </canvas>
     <div id="tools" >

         <input type="button"  class="btn"   id="colorSelector" value="Color">
         <input type="button"  class="btn"  value="SaveAs" id="saveas">

     </div>
    </div>

    <div id="userlist">
        <h2>用户列表</h2>
        <select id="users" multiple="multiple">
        </select>
    </div>
    <div id="messagebox">
        <div id="message"></div>
        <div id="messageinput">
            <form action="javascript:;">
                <div class="input-prepend">
                    <div class="btn-group">
                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                            <span>发送给...</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <ul><a href="#">私信</a></ul>
                            <ul><a href="#">广播</a></ul>
                        </ul>
                    </div>
                    <input class="span4" id="msg" type="text">
                    <input class="btn tj" type="submit" value="send"/>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="js/jquery-1.10.0.js"></script>
<script src="/socket.io/socket.io.js"></script>
<!--[if lt IE 9]><script type="text/javascript" src="js/excanvas.js"></script><![endif]-->
<script src="js/jquery.mpaint.js"></script>
<script   src="js/colorpicker.js"></script>
<script   src="js/bootstrap.js"></script>
<script>
    $(function () {
        if (window.console == 'undefined') {
            window.console.log = function () {
            }
        }

        var addNameToList = function (name) {
            var user = $("#users");
            $("<option value='" + name + "'>" + name + "</option>").appendTo(user);
        }
        var socket = io.connect(window.location.origin);

        socket.on('connect', function () {
            var name = Math.random() * 1000;
            socket.emit('set nickname', name);
            //addNameToList(name);

        })
        socket.on('add user', function (names) {
            var user = $("#users");
            user.html("");
            $.each(names, function (item) {
                var name = item;
                $("<option value='" + name + "'>" + name + "</option>").appendTo(user);
            })


        });
        socket.on('draw', function (data) {

            var canvas = document.getElementById('graph');
            var ctx = canvas.getContext('2d');
            var ex, ey, e = data;
            ctx.fillStyle = "#222";
            $("#graph").MPaint.SetColor(ctx.strokeStyle);
            ctx.strokeStyle = e.color||"#000";
            ctx.lineWidth = 5;
            ctx.lineJoin = "round";

            if (e.sx && e.sy) {
                ex = e.sx;
                ey = e.sy;
                ctx.beginPath();
                ctx.moveTo(ex, ey);
            }
            if (e.ex && e.ey) {

                ctx.moveTo(ex, ey);
                ctx.lineTo(e.ex, e.ey);
                ctx.stroke();
            }
        });
        socket.on("msg", function (data) {
            $("#message").html($("#message").html() + data + "<br/>");
            var m = $("#message")[0];
            m.scrollTop = m.scrollHeight
        });
        var snd = new Audio("images/pen.mp3"); // buffers automatically when created
        $("#graph").MPaint({
            drawReady: function (e) {
                socket.emit('draw', { sx: e.offsetX, sy: e.offsetY,color: $("#graph").MPaint.GetColor() });

            },
            drawBegin: function (e) {
                socket.emit('draw', { ex: e.offsetX, ey: e.offsetY,color: $("#graph").MPaint.GetColor() });
                snd.play();
            },
            drawEnd: function (e) {
            }
        });

        $(".tj").on("click", function () {
            var msg = $("#msg").val();
            var msgData={
                id:$("#users option:selected").text(),
                msg:msg
            }
            socket.emit("msg", msgData);
            $("#message").html($("#message").html() + "<span style='color: red'>您说:" + msg + "</span><br>");
            var m = $("#message")[0];
            m.scrollTop = m.scrollHeight
            var msg = $("#msg").val("");
            return false;
        })
    /*    $(document).on("keydown", function (e) {
            if (e.keyCode >= 32 && e.keyCode <= 126) {
                $("#msg").focus();
            }
        })*/
        $('#colorSelector').ColorPicker({
            color: '#000',
            onShow: function (colpkr) {
                $(colpkr).fadeIn(500);
                return false;
            },
            onHide: function (colpkr) {
                $(colpkr).fadeOut(500);
                return false;
            },
            onChange: function (hsb, hex, rgb) {
                $('#colorSelector').css('backgroundColor', '#' + hex);
                $("#graph").MPaint.SetColor('#' + hex);
            }
        });
        $('#saveas').on("click",function(){
            $("#graph").MPaint.SaveImage();
        })
    });


</script>

</body>
</html>